.mat-form-field {
  display: block;
  padding-bottom: 2%;
}

.invalid-link {
  text-align: center;
  width: 75%;
  margin: 15% auto;
}

.invalid-link p{
  color: #ffffff;
  font-size: 3vw;
}

.reset-pass {
  position: relative;
  padding: 40px;
  width: 18.5vw;
  margin: 10% auto;
  background-color: rgba(30, 38, 51, 0.96);
  border-radius: 4px;
}

.reset-comp {
  background-image: url("src/assets/img/star-sky.jpg");
  background-repeat: round;
  min-height: 45vw;
  overflow: hidden;
}

.reset-pass input:valid{
caret-color: #ffffff;
}

.reset-pass input:invalid {
  caret-color: #b71c1c;
}

.cancel-action {
  margin-top: 8px ;
}

