<h1 mat-dialog-title>Sign up</h1>

<div mat-dialog-content class="sign-up-dialog">
<mat-dialog-content form [formGroup]="form">

  <mat-form-field>
    <input matInput type="text" placeholder="username" formControlName="username" [errorStateMatcher]="matcher" required>
    <mat-error align="end" *ngIf="form.controls.username.errors?.required">required</mat-error>
    <mat-error align="end" *ngIf="form.controls.username.errors?.minlength">less than 4 characters</mat-error>
    <mat-error align="end" *ngIf="form.controls.username.errors?.maxlength">more than 32 characters</mat-error>
    <mat-error align="end" *ngIf="form.controls.username.errors?.usernameExists">username is already taken</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="email" placeholder="email" formControlName="email" [errorStateMatcher]="matcher" required>
    <mat-error align="end" *ngIf="form.controls.email.errors?.required">required</mat-error>
    <mat-error align="end" *ngIf="form.controls.email.errors?.pattern">wrong pattern</mat-error>
    <mat-error align="end" *ngIf="form.controls.email.errors?.emailExists">email already used</mat-error>
  </mat-form-field>




  <mat-form-field>
    <input matInput type="password" placeholder="password" [type]="hide ? 'password' : 'text'" formControlName="password" [errorStateMatcher]="matcher" required >
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error align="end" *ngIf="form.controls.password.errors?.required">required</mat-error>
    <mat-error align="end" *ngIf="form.controls.password.errors?.minlength">less than 8 characters</mat-error>
    <mat-error align="end" *ngIf="form.controls.password.errors?.maxlength">more than 16 characters</mat-error>

  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="confirm password" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" [errorStateMatcher]="matcher" required>
    <mat-error align="end" *ngIf="form.controls.confirmPassword.errors?.required">required</mat-error>
    <mat-error align="end" *ngIf="form.controls.confirmPassword.errors?.mustMatch">passwords does not match</mat-error>
  </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions class="success-action" align="center">
  <button class="success-button" mat-raised-button color="primary" [disabled]="!form.valid || form.untouched || !form.dirty" (click)="validateSignUp()">Sign up</button>
</mat-dialog-actions>

<mat-dialog-actions class="cancel-action" align="center">
  <button class="cancel-button" mat-raised-button color="warn" [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>
<br>
<div class="dialog-footer">

</div>
</div>
